body {
  font-family: Arial;
}

.navigation {
  float: left;
}

.content {
  margin-top: 25px;
  float: left;
  clear: left;
}

.label {
  font-weight: bold;
  text-decoration:underline;
}

.enabled {
  background-color: green;
  cursor: pointer;
}

.disabled {
  background-color: red;
}